@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
  font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
  background: rgb(236, 246, 255);
  margin: 0;
}
#header {
  display: flex;
  height:auto;
  background: #3e7cb6;
  padding-top: 0;
  width: 100%;
  border: hidden;
  -moz-box-shadow:0 0 20px #8c8c8c;
  -webkit-box-shadow:0 0 20px #858585;
  box-shadow:0 0 20px #888888;
  margin: 0;
}

#header h1{
  font-size: 3em;
  color: rgb(255, 255 ,255);
  margin: auto;
}

h2 {
  color: rgb(111, 119, 135);
  margin: 20px auto 10px;
  width: fit-content;
  text-align: center;
}

p{
  color: darkgray;
  margin: inherit;
}
.mainMenu {
  display: flex;
  margin: auto 20px;
  width: 100px;
}

.mainMenu a{
  color: lavender;
}

table{
  text-align: center;
  align-content: center;
}
#wrapper{
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  margin-right: 0;
  top: 40%;
  margin-top: -75px;
  text-align: center;
  align-content: center;
}

.pincode {
  border: hidden;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  color: darkgray;
}

input.pincode:active, input.pincode:focus {
  -moz-box-shadow:0 0 10px #fcd2dd;
  -webkit-box-shadow:0 0 10px #fcd2dd;
  box-shadow:0 0 10px #b2b2b2;
}

.rightSide {
  margin: 50px 10px 50px;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
  transition: width 1s;
}

.objectPic {
  position: relative;
  overflow: hidden;
}

img.absolute {
  position: relative;
  height: 100%;
  transform: translateX(-50%);
}

.picSmaller {
  position: relative;
  height: 300px;
  left: 50%;
}

